body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-black;
}

.heading-primary {
	font-size: 6rem;
	color: $color-black;
	padding: 2rem 0 6rem 0;
	text-align: center;
	font-weight: 300;
	letter-spacing: 0.5rem;
}

.heading-secondary {
	font-size: 3rem;
	margin-bottom: 2rem;
	font-style: italic;
	margin-left: 2rem;
}