$color-primary: #0d43f5;
$color-primary-light: #577cf3;
$color-primary-dark: #090857;

$color-secondary: #8d0df5;
$color-secondary-light: #bc73f8;
$color-secondary-dark: #2a0449;

$color-black: #333;
$color-white: #eee;
$color-grey: #777;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;

	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-black;
	padding: 3rem;

	box-sizing: border-box;
}

#app {
    height: 95vh;
    background-image: linear-gradient(to bottom right, $color-primary-light, $color-secondary-light);
    background-size: cover;
    background-position: center;

    position: relative;

	&__nav {
		font-size: 3rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

.unorder-list {
	font-size: 2rem;
	display: contents;
	flex-direction: row;
	justify-content: space-around;
}

.link {
	text-decoration: none;
	color: $color-black;
}

.list {
	list-style: none;
}