$color-primary: #0d43f5;
$color-primary-light: #577cf3;
$color-primary-dark: #090857;

$color-secondary: #8d0df5;
$color-secondary-light: #bc73f8;
$color-secondary-dark: #2a0449;

$color-black: #333;
$color-white: #fefefe;
$color-grey: #777;