$color-primary: #2c5e9f;
$color-primary-light: #65a1f0;
$color-primary-dark: #0d3364;

$color-secondary: #e61c29;
$color-secondary-light: #e7545e;
$color-secondary-dark: #790b13;

$color-black: #333;
$color-white: #fefefe;
$color-grey: #777;
$color-grey-dark: #444;
$color-grey-light: #ccc;