@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

#app {
  min-height: 95vh;
  background: linear-gradient(to bottom right, #577cf3, #bc73f8);
  position: relative;
  /*&__nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: auto;
		padding: 3rem;
		width: 60vw;
		border-bottom: solid $color-black 0.25rem;
	}*/ }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.heading-secondary {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-style: italic;
  margin-left: 2rem;
  letter-spacing: 1rem; }

.link {
  text-decoration: none;
  color: #333;
  font-size: 2rem; }

.btn {
  background-color: rgba(51, 51, 51, 0.6);
  color: #fefefe;
  font-size: 4rem;
  font-weight: 600;
  border-radius: .5rem;
  width: 20vw;
  text-align: center;
  text-decoration: none; }
  .btn:hover {
    background-color: rgba(254, 254, 254, 0.6);
    color: #333;
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.8); }
  .btn:active {
    box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.8); }

.card {
  background: rgba(254, 254, 254, 0.6);
  color: #333;
  margin: 2rem;
  text-align: center;
  border-radius: 2px;
  padding-bottom: 1rem;
  min-height: 20vh;
  cursor: pointer; }
  .card:hover {
    color: #fefefe;
    background-color: rgba(51, 51, 51, 0.6); }
  .card__header {
    margin-bottom: 1rem; }
    .card__header img {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px; }
  .card__body {
    display: flex;
    flex-direction: column; }
    .card__body--title {
      font-size: 2rem; }
    .card__body--text {
      font-size: 1.4rem; }

.form {
  margin-bottom: 1rem; }
  .form__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .form__row .form__group {
    margin: 2rem; }
  .form__group:not(:last-child) {
    text-align: left;
    margin-bottom: 2rem; }
  .form__actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
  .form__input {
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(9, 8, 87, 0.9);
    border: none;
    border-bottom: 5px solid transparent;
    width: 100%;
    display: block; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.1);
      border-bottom: 5px solid #090857; }
    .form__input:focus:invalid {
      border-bottom: 5px solid orangered; }
    .form__input::placeholder {
      color: #fefefe; }
  .form__label {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
    color: #ccc; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form select {
    cursor: pointer;
    appearance: none;
    border: none;
    padding: 1rem;
    background-color: white;
    outline: 1px solid #090857;
    width: 100%; }

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; }
  .list li:not(:last-child) {
    margin-bottom: 2rem; }
  .list--horizontal {
    flex-direction: row;
    flex-wrap: wrap; }
    .list--horizontal li:not(:last-child) {
      margin-bottom: 0; }
  .list--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center; }
    .list--grid li:not(:last-child) {
      margin-bottom: 0; }

.vehicle {
  background-color: #2a0449;
  color: #fefefe;
  padding: 1rem 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 2px; }
  .vehicle__actions {
    color: #bc73f8; }

.input {
  background-color: rgba(87, 124, 243, 0.6);
  padding: 3rem;
  margin-bottom: 3rem;
  color: #fefefe; }

.page {
  width: 60%;
  margin: 0 auto; }
