.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    li:not(:last-child) {
        margin-bottom: 2rem;
    }

    &--horizontal {
        flex-direction: row;
        flex-wrap: wrap;

        li:not(:last-child) {
            margin-bottom: 0;
        }
    }

    &--grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;

        li:not(:last-child) {
            margin-bottom: 0;
        }
    }

    
}