.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--horizontal {
        flex-direction: row;
        flex-wrap: wrap;
    }
}